# Virtual Environment
venv/
env/
ENV/

# Python Bytecode & Caches
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/

# Raw and Intermediate Big Data Files
backend/src/data/raw/
backend/src/data/processed/telco_churn_clean.csv

# OS & Editor Specific Files
.DS_Store
Thumbs.db
.vscode/
.idea/
.env